#btn-backToTop {
    right: 1.15rem;
    bottom: .5rem;
}

.sticky {
    position: sticky;
    top: 0;
    /* right:0; */
    /* width: 100%; */
}

#badge-container {
    display: flex;
    list-style: none;
}

.badge-icon {
    width: 128px;
    height: auto;
}

.row {
    --bs-gutter-x: 0 !important;
}